version: '3.8'
services:
  # DATABASE_URL=postgres://admin:strongpassword@localhost:5432/blog

  postgres:
    image: postgres:15.2-alpine
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=strongpassword
      - POSTGRES_DB=blog
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  postgres:
